# Ignore everything by default (build context is repo root)
**

# Allow only what the operator Dockerfile needs
!operator/go.mod
!operator/go.sum
!operator/cmd/
!operator/api/
!operator/internal/
!LICENSE
